<footer class="row">
    <div class="col-lg-5 footer">
        <span class="footer-header">Get in touch</span>
        <p>
            <a rel="nofollow me" class="gitter" href="http://gitter.im/mindmapsdb/mindmapsdb" target="_blank">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gitter"></use></svg> #mindmapsdb on Gitter
            </a>
            <br>
            <a rel="nofollow me" class="github" href="http://gitter.im/mindmapsdb/mindmapsdb" target="_blank">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg> MindmapsDB 0.1 on GitHub
            </a>
            <br><br>
            <a href="mailto:info@mindmaps.io">info@mindmaps.io</a><br>
            Unit 22, 8 Hornsey Street<br>
            London, UK, N7 8EG
        </p>
        <br>
        <p>© 2016 <a href="http://minadmaps.io">Mindmaps Research Ltd</a></p>
        <!-- &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
        {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
        <p><img src="{{ "images/company_logo.png" }}" alt="Company logo"/></p> -->
    </div>
    <div class="col-lg-2 footer">
        <span class="footer-header">Community</span>
        <ul>
            <li><a href="http://discuss.mindmaps.io">Discussion</a></li>
            <li><a rel="nofollow me" href="http://stackoverflow.com/tags/mindmapsdb" target="_blank">Stack Overflow</a></li>
            <li><a rel="nofollow me" href="http://gitter.im/mindmapsdb/mindmapsdb" target="_blank">Gitter</a></li>
            <li><a rel="nofollow me" href="http://twitter.com/mindmapsdb" target="_blank">Twitter</a></li>
        </ul>
    </div>
    <div class="col-lg-2 footer">
        <span class="footer-header">Company</span>
        <ul>
            <li><a rel="nofollow me" href="http://blog.mindmaps.io" target="_blank">Blog</a></li>
            <li><a href="http://minadmaps.io/careers.html">Careers</a></li>
            <li><a href="http://minadmaps.io/about.html">About</a></li>
        </ul>
    </div>
</footer>