---
layout: default
---

        <div class="container docs-wrapper" id="docs-wrapper" data-type="mindmaps">
            <div class="row">
                <div class="columns three">
                    <h2>Contents</h2>
                    <div class="docs-menu">
                        {% include platform-menu.html %}
                    </div>
                </div>
                <div class="columns nine">
                    <div class="docs-content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
